<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bot Screen</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/main.css') }}"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="container px-6">
			<div>
				<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3">
					<div></div>
					<div class="mt-5">
						<div class="flex justify-center">
							<a href="">
								<img
									src="{{ url_for('static', filename='images/logo/logo.png') }}"
									alt="logo"
									class="logo"
								/>
							</a>
						</div>

						<div class="pr-3 max-w-[400px] m-auto">
							<div
								class="h-full bg-white rounded-2xl p-5 md:p-10 mt-10 flex flex-col items-center gap-2 justify-center relative"
							>
								<div class="gradient rounded-2xl"></div>
								<p class="text-[#929292] text-[24px] mb-2">Nova operação!</p>
								<div
									id="main-number"
									style="border-radius: 20px"
									class="h-16 w-16 flex justify-center items-center text-white icon-box-shadow"
								>
									<img height="100%" width="100%" src="{{ random_image }}" />
								</div>
							</div>

							<div
								class="h-full bg-white rounded-2xl p-5 md:p-10 mt-10 mb-10 relative"
							>
								<div class="gradient rounded-2xl"></div>
								<h2 class="text-[#929292] uppercase font-bold text-center">
									ultimos resultados
								</h2>

								<div
									id="number-array"
									class="grid gap-5 grid-cols-5 md:grid-cols-5 lg:grid-cols-5 mt-5"
								>
									{% for row_count in range(1, ((((numbers
									|length)|int)+1)/5)|int + 1) | list %} {% for number in
									numbers[5*(row_count-1):5*row_count] %}
									<div
										class="bg-[{{number.color}}] h-10 w-10 flex justify-center items-center text-white rounded-md icon-box-shadow m-auto"
									>
										{% if number.num == 0 %}
										<img
											height="20px"
											width="20px"
											src="{{ url_for('static', filename='images/logo-blaze.png') }}"
										/>
										{% endif %} {% if number.num != 0 %}
										<p style="color:{{number.text_color}}">{{ number.num }}</p>
										{% endif %}
									</div>
									{% endfor %} {% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div></div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script>
			const blazeImageUrl =
				"{{ url_for('static', filename='images/logo-blaze.png') }}";

			function refreshNumbers() {
				$.ajax({
					url: "/get_numbers",
					type: "GET",
					success: function (res) {
						if (!res.data) return;
						let html = "";
						$("#main-number").fadeOut("slow", function () {
							$("#main-number").html(
								"<img height='100%' width='100%' src='" + res.color + "' />"
							);
						});
						$("#main-number").fadeIn();

						res.data.map(function (item) {
							html += `<div
                        style="background-color: ${item.color}"
                        class="h-10 w-10 flex justify-center items-center text-white rounded-md icon-box-shadow"
                      >
                        ${
													item.num === 0
														? `<img height="20px" width="20px" src="${blazeImageUrl}" />`
														: `<p style="color: ${item.text_color}">${item.num}</p>`
												}
                      </div>`;
						});
						$("#number-array").html(html);
					},
				});
			}
			setInterval(refreshNumbers, 5000);
		</script>
	</body>
</html>
